@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

* {
    margin: 0;
    padding: 0;
    overflow-x: visible;
}
body{
    background-color: #cde0c4;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #556B2F;
}

#logo_house {
    position: relative;
    margin-right: auto; /* Pushes the logo to the left */
}


form input,
#login-signup-popup-button,
#find-people-near-me {
    font-family: 'Special Elite', cursive;
    color: black;
}

header img {
    margin-top: 0.6em;
    margin-left: 1em;
}

#search-form {
    display: block !important;
    margin-left: 15% !important;
    margin-right: auto !important;
}

form input {
    border-radius: 7px;
    border-width: 1.5px;
}

#submit {
    border-width: 1px;
    height: 2.3em;
    width: 4.3em;
    font-size: 1em;
    transition: color .27s;
    background-color: #add8e6;
}

#submit:hover {
    cursor: pointer;
    background-color: #6666ff;
    color: #FFFDD0;
}


#login-signup-popup-button {
    border-radius: 7px;
    border-width: 1px;
    margin-right: 2em;
    height: 2.8em;
    width: 7em;
    transition: color .27s;
    background-color: #add8e6;
}

#login-signup-popup-button:hover{
    cursor: pointer;
    background-color: #6666ff;
    color: #FFFDD0;
}


#find-people-near-me {
    margin-right: 9em;
    border-radius: 7px;
    border-width: 1px;
    height: 2.8em;
    width: 10em;
    transition: color .27s;
    background-color: #add8e6;
}
#find-people-near-me:hover {
    cursor: pointer;
    background-color: #6666ff;
    color: #FFFDD0;
}

#login-signup-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    background-color: rgba(211, 211, 211, 0.7);
    gap: 2em;
}

#login, #signup {
    display: inline-block;
    padding: 1em;
    margin: 0.5em;
    flex: 1;
    text-align: center;
}

#login {
    border-right: 1px solid lightgray;
    padding: 1em 2em 1em 1em;
}

#signup-or-login {
    background-color: white;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-right: 25%;
    margin-left: 25%;
    flex: 1;
    text-align: center;
}

#login-username,
#login-password,
#signup-username,
#signup-password,
#signup-submit,
#signup-email,
#signup-phone-number,
#login-submit,
#signup-location {
    border-radius: 1px;
    border: lightgray solid;
    height: 48px !important;
    width: 15em !important;
    padding: 0 0 0 1em;
}

#signup-submit,
#login-submit {
    border-radius: 10px !important;
    background-color: lightblue;
    text-align: center;
    width: 16.3em !important;
}

#signup-submit:hover,
#login-submit:hover {
    cursor: pointer;
    background-color: #5cc3e5;
}


#xla {
    position: absolute;
    font-size: 2.5em;
    top: 0.1em;
    right: 0.5em;
    cursor: pointer;
}

#profile-popup {
    position: absolute;
    margin-top: 5em; /* Place the popup below the SVG */
    background-color: white;
    padding: 10px;
    margin-left: 68em;
    display: none; /* Initially hide the popup */
}


#locationDropdown {
    text-align: center;
}

#locationDropdown h6 {
    padding: 1em;
    background-color: white;
    transition-duration: 0.3s;
}

#locationDropdown h6:hover {
    background-color: lightgray;
    cursor: pointer;
}

#categories {
    font-size: 16px;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: .6em;
    overflow: visible;
}

.product-items {
    background-color: blue;
    border: 1px solid lightgray;
    padding: 0.8em;
    border-radius: 10px;
    z-index: 1;
    transition: transform 0.2s linear, z-index 0s linear;
}
.product-items:hover {
    transform: scale(1.06, 1.06);
    cursor: pointer;
    z-index: 2;
}
