<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <title>Don&Rec</title>
    <link rel="icon" href="../static/images/Icon.png" type="image/x-icon">
</head> 
<body>
    <header>
        <img id="logo_house" src="../static/images/LongLogo.png" height="50">
        <form id="search-form">
            <input style="width: 30em; height: 2em; font-size: 1em;" maxlength="50"
                   type="text" placeholder="Search" id="search-bar" class="signup-login-textbox" autocomplete="off">
            <input id="submit" type="submit" value="Search">
        </form>

        {% if session['logged_in'] %}
            <div>
                <svg aria-hidden="true" class="pre-nav-design-icon" style="margin-right: 4em;" focusable="false" viewBox="0 0 24 24" role="img" width="24px" height="24px" fill="none" data-var="glyph" onmouseover="myProfilePopup()" onmouseout="myProfilePopupOff()"><path fill="currentColor" d="M12 3a4.5 4.5 0 00-4.5 4.5H9a3 3 0 013-3V3zM7.5 7.5A4.5 4.5 0 0012 12v-1.5a3 3 0 01-3-3H7.5zM12 12a4.5 4.5 0 004.5-4.5H15a3 3 0 01-3 3V12zm4.5-4.5A4.5 4.5 0 0012 3v1.5a3 3 0 013 3h1.5zM4.5 21v-3H3v3h1.5zm0-3a3 3 0 013-3v-1.5A4.5 4.5 0 003 18h1.5zm3-3h9v-1.5h-9V15zm9 0a3 3 0 013 3H21a4.5 4.5 0 00-4.5-4.5V15zm3 3v3H21v-3h-1.5z"></path></svg>
            </div>
        {% else %}
            <button type="button" id="login-signup-popup-button" onclick="openPopup()">Login/Signup</button>
            <a href="{{ url_for('bp.online_lost_and_found') }}">Online </a>
        {% endif %}

        <div id="profile-popup" style="display: none;" onmouseover="myProfilePopup()" onmouseout="myProfilePopupOff()">
            <h3>{{ user_info }}</h3>
            <a href="{{ url_for('bp.donateItem') }}">Donate</a>
            <a href="{{ url_for('bp.logout') }}">Log Out</a>
            <a href="{{ url_for('bp.online_lost_and_found') }}">online_lost_and_found</a>
        </div>

        <button type="button" id="find-people-near-me" onclick="getIPAddress()">Find people near me</button>
    </header>
    <main>
        <div class="products">
            {% for product in products %}
                <div id="item{{ product.id }}" class="product-items" onclick="itemClick({{ product.id }})">
                    <h2>{{ product.name }}</h2>
                    <img src="{{ url_for('bp.static', filename='uploads/' + product.picture) }}" alt="Item Picture" height="200">
                    <p>{{ product.details }}</p>
                </div>
            {% endfor %}
        </div>
    </main>
    <div id="login-signup-popup" style="display: none;">
            <span id="xla" onclick="closePopup()">&times;</span>
            <div id="signup-or-login">
                <form id="login" method="POST" action="/login" enctype="multipart/form-data">
                    <h1>Login</h1>
                    <br><br><br>
                    <input type="text" id="login-username" class="signup-login-textbox" name="login-username" placeholder="Username" autocomplete="off" required>
                    <br><br>
                    <input type="password" id="login-password" class="signup-login-textbox" name="login-password" placeholder="Password" autocomplete="off" required>
                    <br><br>
                    <button type="submit" id="login-submit">Submit</button>
                </form>

                <form id="signup" method="POST" action="/signup" enctype="multipart/form-data">
                    <h1>Signup</h1>
                    <br><br><br>
                    <input type="text" id="signup-username" class="signup-login-textbox" name="signup-username" placeholder="Create a username" autocomplete="off" required>
                    <br><br>
                    <input type="password" id="signup-password" class="signup-login-textbox" name="signup-password" placeholder="Create a password" value="" autocomplete="off" required>
                    <br><br>
                    <input type="email" id="signup-email" class="signup-login-textbox" name="signup-email" placeholder="Email" value="" autocomplete="on" required>
                    <br><br>
                    <input type="number" id="signup-phone-number" class="signup-login-textbox" name="signup-phone-number" placeholder="Phone Number" autocomplete="off">
                    <br><br>
                    <input type="text" id="signup-location" class="signup-login-textbox" name="signup-location" placeholder="Location *not required" autocomplete="off">
                    <br><br>
                    <button type="Submit" id="signup-submit">Continue</button>
                </form>
                <div id="locationDropdown"></div>
            </div>
    </div>
    
</body>
<script src="../../../static/js/script.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='js/script.js') }}">

</html>
