<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../static/css/landing.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <div class="container">
        <div class="button">
            <img src="../static/images/CartoonBat.png" id="bat" height="200">
            <a href="#" style="font-size: 1.8em;">Trade Hub</a>
        </div>
        <div class="button">
            <img src="../static/images/wrench.png" id="wrench" height="170">
            <a href="#" style="font-size: 1.8em;">Survival Services</a>
        </div>
    </div>
    <h1 style="font-size: 3em;">Welcome to Apocalypse Alley!</h1>
    <h3 style="font-size: 1.5em">select options</h3>
    <div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
     </div>
</body>
</html>
