<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../static/css/landing.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <div class="container">
        <div class="button">
            <a href="#">Option 2</a>
        </div>
        <div class="button">
            <a href="#">Option 1</a>
        </div>
    </div>
    <h1 style="font-size: 3em;">Welcome to Apocalypse Alley!</h1>
</body>
</html>
